.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.technologies::after {
    content: "";
    flex: auto;
}

.technologies .technology {
    height: 75px;
    width: 75px;
    margin: 25px 5px;
    align-items: center;
    display: inherit;
    flex-direction: column;
}