.skills section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Justify with last line left aligned */
.skills section:not(.practice)::after {
    content: "";
    flex: auto;
}

.skills section .technology {
    height: 75px;
    width: 75px;
    margin: 25px 5px;
    align-items: center;
    display: inherit;
    flex-direction: column;
}

.skills section.practice {
    justify-content: space-around;
}