.shared {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
}

.heading {
  @extend .shared;
  font-family: 'Oswald', sans-serif;
  color: var(--secondary);
  line-height: 1em;
  margin: 0 0 50px;
  font-size: 30pt;

  &[data-size='lg'] {
    margin-bottom: 15px;
    font-size: 64pt;
  }
}

.overHeading {
  @extend .shared;
  font-family: 'Raleway', sans-serif;
  color: var(--accent);
  margin: 0;
  font-size: 16pt;
  
  &[data-size='lg'] {
    font-size: 24pt;
  }
}
