html, body, #root, .app {
  height: 100%;
  background-color: #D8D8D8;

  --nav-width: 80px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #262626;
}

main {
  position: relative;
  padding: 75px 15px 15px 15px;
  transition: 150ms;
  left: 0;
  box-sizing: border-box;
}

main.open {
  left: var(--nav-width);
}