nav {
    position: fixed;
    left: calc(-1 * var(--nav-width));
    width: var(--nav-width);
    background-color: #262626;
    height: 100%;
    display: grid;
    grid-template-rows: 10% auto 15%;
    grid-template-columns: 100%;
    transition: 150ms;
    z-index: 1;

    --border-radius: 15%;
}

nav.open {
    left: 0;
}

nav .content {
    /* height: 58%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    grid-row: 2/3;
}

nav .icon {
    width: 40px;
    background-color: #D8D8D8;
    padding: 8px;
    padding-bottom: 25px;
    border-radius: var(--border-radius);
}

nav a p {
    font-size: .85em;
    position: relative;
    top: -25px;
    text-align: center;
}

nav .icon path,
nav .icon polygon {
    fill: #D84169;
}

nav .vertical {
    transform: rotate(270deg);
    position: relative;
    left: 75%;
    grid-row: 3;
}

nav a {
    text-decoration: none;
}

nav p,
nav .vertical a {
    margin: 0;
    font-size: 1.25em;
    color: #D84169;
    width: auto;
}

nav .vertical a {
    padding: 15px;
}